@mixin create-theme($name,
    $default,
    $light,
    $dark,
    $text,
    $text-light,
    $text-dark,
) {
    --#{$name}: #{$default};
    --#{$name}-light: #{$light};
    --#{$name}-dark: #{$dark};
    --#{$name}-text: #{$text};
    --#{$name}-text-light: #{$text-light};
    --#{$name}-text-dark: #{$text-dark};
}

:root {
    --sans-serif: 'Roboto', sans-serif;
    --serif: 'Roboto Slab', serif;

    @include create-theme(base,
        #ffffff,
        #ffffff,
        #dddddd,
        #242424,
        #242424,
        #242424,
    );

    --base-click-ripple-opacity: 0.5;
    --base-hover-ripple-opacity: 0.25;

    @include create-theme(primary,
        #525aff,
        #888ef6,
        #293bff,
        #efefef,
        #ffffff,
        #dddddd,
    );

    @include create-theme(secondary,
        #ff6161,
        #ff8f8f,
        #ff5252,
        #efefef,
        #ffffff,
        #dddddd,
    );

    @include create-theme(success,
        #2dd36f,
        #3de78b,
        #28c76f,
        #efefef,
        #ffffff,
        #dddddd,
    );

    @include create-theme(warning,
        #ffc409,
        #ffd659,
        #ffa409,
        #242424,
        #242424,
        #242424,
    );

    @include create-theme(danger,
        #ff4961,
        #ff6b7d,
        #ff3647,
        #efefef,
        #ffffff,
        #dddddd,
    );

    @include create-theme(info,
        #00d0ff,
        #00e2ff,
        #00b4cc,
        #242424,
        #242424,
        #242424,
    );

    @include create-theme(dark,
        #181818,
        #181818,
        #181818,
        #efefef,
        #ffffff,
        #dddddd,
    );
}