@mixin create-theme($name,
    $default,
    $light,
    $dark,

    $start, // --color-name-000
    $end, // --color-name-900

    $text,
    $text-light,
    $text-dark,
) {
    --#{$name}: #{$default};
    --#{$name}-light: #{$light};
    --#{$name}-dark: #{$dark};
    --#{$name}-text: #{$text};
    --#{$name}-text-light: #{$text-light};
    --#{$name}-text-dark: #{$text-dark};

    @for $i from 0 through 9 {
        --#{$name}-#{$i}00: #{mix($start, $end, 100% - $i * 10%)};

        @for $j from 1 through 9 {
            --#{$name}-#{$i}#{$j}0: #{mix($start, $end, 100% - ($i * 10% + $j * 1%))};
        }
    }
}

:root {
    --sans-serif: 'Roboto', sans-serif;
    --serif: 'Roboto Slab', serif;

    @include create-theme(base,
        #ffffff,
        #ffffff,
        #dddddd,
        #000000,
        #ffffff,
        #242424,
        #242424,
        #242424,
    );

    --base-click-ripple-opacity: 0.5;
    --base-hover-ripple-opacity: 0.25;

    @include create-theme(primary,
        #525aff,
        #888ef6,
        #293bff,
        #a0a5f8,
        #081dff,
        #efefef,
        #ffffff,
        #dddddd,
    );

    @include create-theme(secondary,
        #ff6161,
        #ff7070,
        #ff5252,
        #ff8f8f,
        #ff0000,
        #efefef,
        #ffffff,
        #dddddd,
    );

    /* @include create-theme(success,
        #2dd36f,
        #3de78b,
        #28c76f,
        #7be5a6,
        #00b248,
        #efefef,
        #ffffff,
        #dddddd,
    );


    @include create-theme(warning,
        #ffc409,
        #ffd659,
        #ffa409,
        #ffd659,
        #ff8c00,
        #242424,
        #242424,
        #242424,
    );

    @include create-theme(danger,
        #ff4961,
        #ff6b7d,
        #ff3647,
        #ff8f9a,
        #ff0000,
        #efefef,
        #ffffff,
        #dddddd,
    );

    @include create-theme(info,
        #00d0ff,
        #00e2ff,
        #00b4cc,
        #00e2ff,
        #00a0b4,
        #242424,
        #242424,
        #242424,
    ); */

    @include create-theme(dark,
        #181818,
        #181818,
        #181818,
        #000000,
        #282828,
        #efefef,
        #ffffff,
        #dddddd,
    );
}

#start {
    background: var(--primary);
}

#header-card {
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        background: var(--base);
        opacity: 0.3
    }
}

.base-card {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    backdrop-filter: blur(8px);

    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        inset: 0;
        background-color: var(--base-780);
        opacity: 0.5;
    }
}

.primary-card {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    backdrop-filter: blur(8px);

    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        inset: 0;
        background-color: var(--primary-100);
        opacity: 0.5;
    }
}

.secondary-card {
    background-color: var(--secondary-500);
}

.pointer-ripple {
    backdrop-filter: invert(1);
}
