@mixin create-theme($name,
    $default,
    $light,
    $dark,

    $start, // --color-name-000
    $end, // --color-name-900

    $text,
    $text-light,
    $text-dark,
) {
    --#{$name}: #{$default};
    --#{$name}-light: #{$light};
    --#{$name}-dark: #{$dark};
    --#{$name}-text: #{$text};
    --#{$name}-text-light: #{$text-light};
    --#{$name}-text-dark: #{$text-dark};

    @for $i from 0 through 9 {
        --#{$name}-#{$i}00: #{mix($start, $end, 100% - $i * 10%)};

        @for $j from 1 through 9 {
            --#{$name}-#{$i}#{$j}0: #{mix($start, $end, 100% - ($i * 10% + $j * 1%))};
        }
    }

    // TODO: Wayyyyyy too many colors. Reduce this when we figure out what we actually need.
}

.light {
    --sans-serif: 'Roboto', sans-serif;
    --serif: 'Roboto Slab', serif;

    @include create-theme(base,
        #ffffff,
        #ffffff,
        #dddddd,
        #000000,
        #ffffff,
        #242424,
        #242424,
        #242424,
    );

    --base-click-ripple-opacity: 0.5;
    --base-hover-ripple-opacity: 0.25;

    @include create-theme(primary,
        #525aff,
        #888ef6,
        #293bff,
        #a0a5f8,
        #081dff,
        #efefef,
        #ffffff,
        #dddddd,
    );

    @include create-theme(secondary,
        #ff6161,
        #ff7070,
        #ff5252,
        #ff8f8f,
        #ff0000,
        #efefef,
        #ffffff,
        #dddddd,
    );

    /* @include create-theme(success,
        #2dd36f,
        #3de78b,
        #28c76f,
        #7be5a6,
        #00b248,
        #efefef,
        #ffffff,
        #dddddd,
    );


    @include create-theme(warning,
        #ffc409,
        #ffd659,
        #ffa409,
        #ffd659,
        #ff8c00,
        #242424,
        #242424,
        #242424,
    );

    @include create-theme(danger,
        #ff4961,
        #ff6b7d,
        #ff3647,
        #ff8f9a,
        #ff0000,
        #efefef,
        #ffffff,
        #dddddd,
    );

    @include create-theme(info,
        #00d0ff,
        #00e2ff,
        #00b4cc,
        #00e2ff,
        #00a0b4,
        #242424,
        #242424,
        #242424,
    ); */

    @include create-theme(dark,
        #181818,
        #181818,
        #181818,
        #000000,
        #282828,
        #efefef,
        #ffffff,
        #dddddd,
    );

    --base-wave: var(--base);
    --primary-wave: var(--primary);
    --secondary-wave: var(--secondary);
    --dark-wave: var(--dark);

    a {
        color: var(--primary);
        text-decoration: underline;
    }

    a:hover {
        color: var(--primary-light);
    }

    a:active {
        color: var(--primary-dark);
    }

    #footer {
        padding: 3em 0;
        background-color: var(--dark);
        color: var(--dark-text);
    }

    a.button {
        display: inline-block;
        padding: 0.5em 1em;
        border-radius: 0.25em;
        background-color: var(--primary);
        color: var(--primary-text);
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.2s ease-in-out;

        width: fit-content;
        margin: 0 auto;
    }

    a.button:hover {
        background-color: var(--primary-light);
    }

    a.button:active {
        background-color: var(--primary-dark);
    }

    .secondary a.button,
    a.button.secondary {
        background-color: var(--secondary);
        color: var(--secondary-text);
    }

    .secondary a.button:hover,
    a.button.secondary:hover {
        background-color: var(--secondary-light);
    }

    .secondary a.button:active,
    a.button.secondary:active {
        background-color: var(--secondary-dark);
    }

    .pointer-ripple {
        backdrop-filter: invert(1);
        position: absolute;
        pointer-events: none;
        z-index: 999999;
        width: 0px;
        height: 0px;
        transform: translate(-50%, -50%);
        transition: all ease 1s;
        opacity: 1;
        border-radius: 50%;
    }

    .pointer-ripple-in {
        width: 300px;
        height: 300px;
        // opacity: 0;
    }

    #start {
        background: var(--primary);
    }

    #header-card {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--base);
            opacity: 0.3
        }
    }

    #arrow-down {
        border: 0.25rem solid var(--base);
        border-left: 0 solid transparent;
        border-top: 0 solid transparent;
    }

    #footer p {
        margin: 0.5em;
    }

    .primary {
        background-color: var(--primary);
        color: var(--primary-text);
    }

    .primary a {
        color: var(--primary-text); // links would be invisible otherwise
    }

    .secondary {
        background-color: var(--secondary);
        color: var(--secondary-text);
    }

    .primary-light {
        background-color: var(--primary-light);
        color: var(--primary-text);
    }

    .secondary-light {
        background-color: var(--secondary-light);
        color: var(--secondary-text);
    }

    .base-card {
        position: relative;
        isolation: isolate;
        overflow: hidden;
        backdrop-filter: blur(8px);

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            inset: 0;
            background-color: var(--base-780);
            opacity: 0.5;
        }
    }

    .primary-card {
        position: relative;
        isolation: isolate;
        overflow: hidden;
        backdrop-filter: blur(8px);

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            inset: 0;
            background-color: var(--primary-100);
            opacity: 0.5;
        }
    }

    .secondary-card {
        background-color: var(--secondary-200);

        &.title {
            border-bottom-left-radius: 10rem;
            border-bottom-right-radius: 10rem;
        }
    }

    .expanding {
        transition: backdrop-filter 0s ease-in-out 0.5s, color 0.4s ease-in-out;
        backdrop-filter: blur(0px);

        &::before {
            transition: opacity 0.4s ease-in-out, background-color 0.7s linear;
            opacity: 1;
        }

        &.to-primary::before {
            background-color: var(--primary);
        }

        &.to-secondary::before {
            background-color: var(--secondary);
        }

        &.to-base {
            color: var(--base-text);

            &::before {
                background-color: var(--base);
            }
        }
    }

    theme-switcher {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999999;
        user-select: none;
    }

    .theme-switcher {
        padding: 0.5em;
        border-radius: 0.25em;
        border: 0;
        background-color: var(--base);
        color: var(--base-text);
        font-size: large;
        cursor: pointer;

        svg {
            float: left;
            width: 1em;
            height: 1em;
            margin-right: 0.5em;
            fill: var(--base-text);
        }
    }

    .theme-switcher__menu {
        display: flex;
        flex-direction: column;
    }

    .theme-switcher__menu-item,
    &.theme-switcher__menu-item {
        display: block;
        padding: 0.5em;
        border-radius: 0.25em;
        border: 0;
        background-color: var(--base);
        color: var(--base-text);
        cursor: pointer;
    }

    .portfolio-card button {
        svg {
            fill: var(--secondary-text);
            transition: opacity 0.2s ease-in-out;
            opacity: 0.5;
        }

        &.active svg {
            opacity: 1;
        }
    }
}