.anim-stronk {
  animation: stronk var(--duration, 3s) ease-in-out forwards var(--delay, 0s);
  stroke-dasharray: 0 100 20 80;
}

@keyframes stronk {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    stroke-dashoffset: 120;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 120;
  }
}
