@import 'themes/default.scss';

$lg: 1024px;
$md: 768px;
$sm: 576px;


* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: var(--sans-serif);
  margin: 0;
  background-color: var(--base);
  color: var(--base-text);
}

a {
  color: var(--primary);
  text-decoration: underline;
}

a:hover {
  color: var(--primary-light);
}

a:active {
  color: var(--primary-dark);
}

#hand-wave {
  display: inline-block;
  animation: wave 1s infinite ease-in-out;
}

@keyframes wave {
  0% {
    transform: rotate(-14deg);
  }

  50% {
    transform: rotate(14deg);
  }

  100% {
    transform: rotate(-14deg);
  }
}

#footer {
  padding: 3em 0;
  background-color: var(--dark);
  color: var(--dark-text);
}

#footer p {
  margin: 0.5em;
}

.primary {
  background-color: var(--primary);
  color: var(--primary-text);
}

.primary a {
  color: var(--primary-text); // links would be invisible otherwise
}

.secondary {
  background-color: var(--secondary);
  color: var(--secondary-text);
}